*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    background: #0f0f10;
    color: #ffff;
    font-family: "poppins", sans-serif;
}
body{
  min-height: 1196vh;
}
nav{
    display: flex;
    flex-direction: row;
    width: 105%;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}
img[alt="beatsLogo"]{
  left: 144px;
  position: relative;
}
.right1{
    display: flex;
    flex-direction: column;
    max-width: 210px;
    margin-left: 26%;
   
}
nav ul{
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 15px;
    padding-left: 515px;
}
.button{
    left: -30px;
    position: relative;
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: 300;
    font-size: 14px;
    background: #1e1e21;
}
a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
main{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
    margin-left: 180px;
}
img[alt="onEar"]{
    width: 320px;
    margin-left: 50px;
    position: relative;
    top: -25px;
}
.mainImg {
    width: 230px;
    position: relative;
    top: -250px;
    left: 80px;
  }
  li{
    margin-right: 40px;
  }
  .container{
    align-items: center;
    padding: 0 300px 0 200px;
  }
  .main h1{
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 25px;
  }
  .main h4{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 25px;
  }
  .main p{
    width: 100%;
    font-weight: 300;
    font-size: 12px;
    color: #bdc0c2;
  line-height: 25px;
  margin-bottom: 25px;


  }
  .shopping-bag-section {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #1e1e21;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 25px;
  }
  .shopping-bag-section img{
    width: 15px;
    background-color: transparent;
  }
  .shopping-bag-section p{
    margin-bottom: 0;
    color: white;
    background-color: transparent;
  }
  .shopping-bag-section span{
    background-color: transparent;
  }
  .products{
    display: flex;
    flex-direction: row;
    left: 115px;
    justify-content: center;
    gap: 95px;
    bottom: 98px;
    position: relative;
  }
  img[alt="youtubeLogo"]{
    width: 140px;
  }
  img[alt="specsLogo"]{
    position: relative;
    left: 512px;
  }
  .section1{
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    left: 300px;
    position: relative;
    gap: 125px;
  }
  .specification-list-items div p{
    font-size: 12px;
  }
  .specification-list-items{
    max-width: 210px;
    word-spacing: 2px;
  }
  .specification-list-items div{
    margin: 18px;
  }
  .specification-list-items div:first-child,
.specification-list-items div:last-child {
  margin-left: 50px;
}


.case {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img[alt="caseLogo"]{
  position: relative;
  left: 3cm;
}
.section2{
  position:relative;
  left: 40px;
  display: flex;
  gap: 83px;
  margin-top: 35px;
}
.caselist{
  max-width: 145px;
  margin-top: 100px;
}


.case-item {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.moreinfo{
  border-radius: 8px;
  width: fit-content;
  background: #1e1e21;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  padding: 10px 20px;
}
.moreinfo img{
  background-color: transparent;
}
.caselist p{
  color: #bdc0c2;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}


.case-item-img {
  scale: 0.8;
  /* width: 50%; */
}


.case-item div {
  width: 20%;
}


.case-item div p:first-child {
  color: #bdc0c2;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}


.case-item div p:last-child img {
  scale: 0.8;
  background-color: transparent;
}


.case-item div p:last-child {
  width: fit-content;
  background: #1e1e21;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  padding: 10px 20px;
}


/* buysection */
.buysection{
  background-color: #181a1b;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  max-height: 300px;
  margin-top: 70px;
  padding: 40px 0;
  max-width: 20cm;
  left: 190px;
  position: relative;
}
 
.buy-product {
  background: #181a1b;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  padding: 40px 0;
}


.buy-product div h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}


.buy-product div p {
  color: #bdc0c2;
  font-size: 14px;
  margin-bottom: 15px;
}


.buy-product div div {
  display: flex;
  align-items: center;
  width: fit-content;
  /* background: #000000; */
  border-radius: 8px;
  padding: 10px 20px;
}


.buy-product div div img {
  scale: 0.8;
  margin-right: 10px;
}


.buy-product div div p {
  margin-bottom: 0;
  font-size: 12px;
  color: white;
}
.buy h3,p,div{
  background-color: transparent;
  margin-bottom: 15px;
}
.buy{
  max-width: 185px;
}
.Buynow{
  background-color: #000;display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
  padding: 10px 20px;
  gap: 15px;


 
  display: flex;
  flex-direction: row;
 
}
img[alt="Bag"]{
  margin-bottom: 15px;
  background-color: transparent;
}
img[alt="buyNowSectionImage"]{
  background-color: transparent;
}
/* style section */


.stylesection {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
}


img[alt="productLogo"]{
 align-items: center;
 justify-content: center;
 display: flex;
 position: relative;
 left: 0;
 margin-top: 10%;
 scale: 0.5;
}


.colorlist{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 
  gap: 50px;
  padding-left: 50px;


}


.productcard
{
  position: relative;
   width: 146px;
  height: 136px;
  background: #181a1b;
  border-radius: 8px;
 
}
.stylesection img, span{
  background-color: transparent;
}
.product-img{
  width: 75px;
  height: 100px;
  position: absolute;
  z-index: 100;
  top: -40px;
  left: 28px;
}
.productinfo{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding:10px 10px 0 20px;
  margin-bottom: -1px;
 
}
.productinfo p{
  font-size: 12px;
}
.productinfo p span{
  color: #bdc0c2;
}
.productinfo div img{
  width: 20px;
  height: 20px;
  background-color: black;
  padding: 3px;
  border-radius: 4px;
}
.colorlist{
  max-width: 490px;
}


footer{
  display: flex;
  flex-direction: row;
  margin: 100px 0;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}


.footer-logo{
  scale: 0.8;
}


ul li a{
  font-size: 12px;
  color: #BDC0C2;
 
}
ul li{
  list-style: none;
}


.footer-subscription{
  display: flex;
  flex-direction: column;
  gap: 30px;


}


ul li:first-child a{
  font-size: 16px;
  font-weight: 400;
  color: white;
}


ul li:first-child{
  margin-bottom: 10px;
}


.footer-subscription div:first-child{
  background: #181A1B;
border-radius: 8px;
padding: 5px 10px;
display: flex;
}


.footer-subscription div:first-child input{
  border: none;
  background-color: transparent;
}


.subscribe-button{
  background: #0A0A0B;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}


.subscribe-button img{
  scale: 0.8;
}


.subscribe-button p{
  font-size: 12px;
}


.footer-subscription div:last-child img{
  margin-right: 10px;
  scale: 0.8;
}


.arrow-up{
  position: absolute;
  right: -160px;
  scale: 0.8;
}

